#iconsDiv{
  background-color: rgba(0, 0, 0, 0.575);
  min-width: fit-content;
  height: fit-content;
  text-align: center;
}
.ul{
  display: inline-block;
  margin: 0px;
  padding: 10px 10px 5px 10px;
}
.main{
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}
.content{
  display: block;
  width: fit-content;
  height: fit-content;
  text-align: center;

}
.imgCom{
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.imgMobile{
  width: 15px;
  height: 15px;
  cursor: pointer;
}
