#mainDiv{
    background-color: black;
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 150px;
}

#logoImageCom{
  //width: 200px;
  //height: 150px;
  width: 250px;
  height: 200px;
  margin-top: -20px;
}
#logoImageMobile{
  width: 200px;
  height: 150px;
}
