<div class="mainDiv" *ngIf="languageService.getLanguage() === 'English'">

    <div id="leftOptionsDiv">
        <span class="optionsEn" [routerLink]="['/']" routerLinkActive="router-link-active" ><p>Home</p></span>
        <span class="optionsEn" [routerLink]="['/packs/all']" routerLinkActive="router-link-active" ><p>Packs</p></span>
        <span class="optionsEn" [routerLink]="['/sets']" routerLinkActive="router-link-active" ><p>DJ Sets</p></span>
      </div>

  <div id="rightOptionsDiv">
   <span class="optionsEn" [routerLink]="['/about']" routerLinkActive="router-link-active" ><p>About</p></span>
   <span class="optionsEn" [routerLink]="['/contact']" routerLinkActive="router-link-active" ><p>Contact</p></span>
   <span class="optionsEn" (click)="changeMyView()" *ngIf="mobileCheckService.getChangeViewButton()"><p>{{mobileCheckService.getChangeView()}}</p></span>
  </div>

</div>

<iframe id="facebookLikeButtonEn" *ngIf="languageService.getLanguage() === 'English'" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FTeaMixx%2F&width=73&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
<iframe id="facebookLikeButtonHeb" *ngIf="languageService.getLanguage() === 'Hebrew'" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FTeaMixx%2F&width=73&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


<!-- <div class="mainDiv" *ngIf="languageService.getLanguage() === 'English'">

  <span class="optionsEn" [routerLink]="['/']" routerLinkActive="router-link-active" ><p>Home</p></span> <span class="optionsEn" [routerLink]="['/about']" routerLinkActive="router-link-active" ><p>About</p></span>
  <span class="optionsEn" [routerLink]="['/packs/all']" routerLinkActive="router-link-active" ><p>Packs</p></span> <span class="optionsEn" [routerLink]="['/contact']" routerLinkActive="router-link-active" ><p>Contact</p></span>
  <span class="optionsEn" [routerLink]="['/sets']" routerLinkActive="router-link-active" ><p>DJ Sets</p></span> <span class="optionsEn" (click)="changeMyView()" *ngIf="mobileCheckService.getChangeViewButton()"><p>{{mobileCheckService.getChangeView()}}</p></span>

</div> -->

<!-- <div class="mainDiv" *ngIf="languageService.getLanguage() === 'Hebrew'">

  <span class="optionsHeb" [routerLink]="['/about']" routerLinkActive="router-link-active" ><p>אודות</p></span> <span class="optionsHeb" [routerLink]="['/']" routerLinkActive="router-link-active" ><p>דף בית</p></span>
  <span class="optionsHeb" [routerLink]="['/contact']" routerLinkActive="router-link-active" ><p>צור קשר</p></span> <span class="optionsHeb" [routerLink]="['/packs/all']" routerLinkActive="router-link-active" ><p>חבילות</p></span>
  <span class="optionsHeb" (click)="changeMyView()" *ngIf="mobileCheckService.getChangeViewButton()"><p>{{mobileCheckService.getChangeView()}}</p></span> <span class="optionsHeb" [routerLink]="['/sets']" routerLinkActive="router-link-active" ><p>סטים</p></span>

</div> -->

<div class="mainDiv" *ngIf="languageService.getLanguage() === 'Hebrew'">

    <div id="leftOptionsDiv">
        <span class="optionsHeb" [routerLink]="['/about']" routerLinkActive="router-link-active" ><p>אודות</p></span>
        <span class="optionsHeb" [routerLink]="['/contact']" routerLinkActive="router-link-active" ><p>צור קשר</p></span>
        <span class="optionsHeb" (click)="changeMyView()" *ngIf="mobileCheckService.getChangeViewButton()"><p>{{mobileCheckService.getChangeView()}}</p></span>
    </div>


    <div id="rightOptionsDiv">
        <span class="optionsHeb" [routerLink]="['/']" routerLinkActive="router-link-active" ><p>דף בית</p></span>
        <span class="optionsHeb" [routerLink]="['/packs/all']" routerLinkActive="router-link-active" ><p>חבילות</p></span>
        <span class="optionsHeb" [routerLink]="['/sets']" routerLinkActive="router-link-active" ><p>סטים</p></span>
    </div>

</div>
