<div id="searchMainDiv">

  <input id="searchSecDiv" type="text" maxlength="20" #searchDiv (keyup)="searchItem(searchDiv.value)"
    placeholder="search">
  <!-- need to add ngmodel and show the right choice in the div -->
  <select id="genreSelect" (change)="genreChoice($event.srcElement.value, $event.srcElement)">
    <option class="option" value="All">All</option>
    <option class="option" value="Issue">Issue</option>
    <option class="option" value="Clubbangers">ClubBangers</option>
    <option class="option" value="Selected">Selected</option>
    <option class="option" value="Latin">Latin</option>
    <option class="option" value="Throwback">Throwback</option>
    <option class="option" value="Dance">Dance</option>
  </select>
</div>


<div id="parentDiv">
  <ul *ngFor="let item of tmp" class="ul">
    <mat-card class="main" [routerLink]="['/item/' + item.packName]" routerLinkActive="router-link-active"
      (click)="singleItemChoice(item)">
      <mat-card-content class="content">
        <img src={{item.img}} class="img">
      </mat-card-content>
    </mat-card>
  </ul>
</div>
