h2 {
  color: red;
  text-align: center;
}

#mainDiv {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#secondDivCom {
  text-align: center;
  color: var(--playlist-font-color);
  margin: 0px;
  padding: 0px;
  white-space: pre-line;
}
#secondDivMobile {
  text-align: center;
  color: var(--playlist-font-color);
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  white-space: pre-line;
}

.images {
  width: var(--image-width-mobile);
  height: var(--image-height-mobile);
}

#downloadButtonCom {
  width: 200px;
  height: 50px;
  border: solid silver;
  color: aliceblue;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
}
#downloadButtonMobile {
  width: 150px;
  height: 30px;
  border: solid silver;
  color: aliceblue;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
}

.priceDivCom {
  color: aliceblue;
  height: fit-content;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}
.priceSpanComHeb {
  padding: 10px;
  // background-color: black;
  // border: solid 1px white;
  font-size: 26px;
}
.priceSpanComEn {
  padding: 10px;
  // background-color: black;
  // border: solid 1px white;
}

.priceDivMob {
  color: aliceblue;
  height: fit-content;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}
.priceSpanMobHeb {
  padding: 5px;
  // background-color: black;
  // border: solid 1px white;
  font-size: 15px;
}
.priceSpanMobEn {
  padding: 5px;
  // background-color: black;
  // border: solid 1px white;
  font-size: 15px;
}

.noNeed {
  margin: 0px;
  padding: 0px;
}
