<div id="setsMainDivCom" *ngIf="!mobileCheckService.getIfMobile()">


  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/m9w8svvc26g40p3/TeaMix%20-%20Warm%20Up%20Mix%20%28Mixed%20By%20DJ%20Kuper%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-warm-up-mix-mixed-by-dj-kuper%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/bt9cvjeeh9j6fst/TeaMix%20Latin%20Vol.6%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-latin-vol6-mixed-by-dj-rooben%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/fkk0kmgexupn3m2/TeaMix%20-%20Opening%20Night%20Set%202019%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-opening-night-set-2019-mixed-by-dj-rooben%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/qhudwx1n2cqpr8w/TeaMix%20-%20Melodic%20%26%20Techno%20Open%20Night%20Set%202019%20%28Mixed%20By%20Aviel%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-melodic-techno-open-night-set-2019-mixed-by-aviel%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/gpmfku766nb6dfn/TeaMix%20-%20Melodic%20House%20%26%20Techno%202019%20%28Mixed%20By%20Harel%20Syco%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-melodic-house-techno-2019-mixed-by-harel-syco%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/v2y3p0qm4ri5ec2/TeaMix%20-%20Deep%20Vibes%20%28Mixed%20By%20Dudu%20A%27S%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-deep-vibes-mixed-by-dudu-as%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/tmnfm0tqnc1yt18/TeaMix%20-%20Pop%20%26%20Mtv%20Set%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-pop-mtv-set-mixed-by-dj-rooben%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/zi5m01ooz9fbnnm/TeaMix%20-%20Latin%20Open%20Night%202019%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-latin-open-night-2019-mixed-by-dj-rooben%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/kbvjeqt9q5qfy9a/TeaMix%20Dance%20Vol.6%20%28Mixed%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-dance-vol6-mixed%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/fa2mb10lrmoegwt/TeaMix%20Throwback%20Vol.5%20%28Mixed%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-throwback-vol5-mixed%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/2gucxgpa2auezwc/TeaMix%20Latin%20Hits%20Vol.2%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-latin-hits-vol2-mixed-by-dj-rooben%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/uswvo6wb66skm2n/TeaMix%20Dance%20Vol.1.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-dance-vol1-mixed%2F" frameborder="0" ></iframe>

  </div>

</div>

<!-- Mob View Config Starts Here!!!!! -->

<div id="setsMainDivMob" *ngIf="mobileCheckService.getIfMobile()">

    <div class="setsSecDiv">
        <a href="https://www.dropbox.com/s/m9w8svvc26g40p3/TeaMix%20-%20Warm%20Up%20Mix%20%28Mixed%20By%20DJ%20Kuper%29.mp3?dl=0"
          target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
          <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
          <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
          <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
        </a>

          <iframe class="soundcloudMixesMob" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-warm-up-mix-mixed-by-dj-kuper%2F" frameborder="0" ></iframe>

      </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/bt9cvjeeh9j6fst/TeaMix%20Latin%20Vol.6%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob"  src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-latin-vol6-mixed-by-dj-rooben%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/fkk0kmgexupn3m2/TeaMix%20-%20Opening%20Night%20Set%202019%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-opening-night-set-2019-mixed-by-dj-rooben%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/qhudwx1n2cqpr8w/TeaMix%20-%20Melodic%20%26%20Techno%20Open%20Night%20Set%202019%20%28Mixed%20By%20Aviel%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-melodic-techno-open-night-set-2019-mixed-by-aviel%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/gpmfku766nb6dfn/TeaMix%20-%20Melodic%20House%20%26%20Techno%202019%20%28Mixed%20By%20Harel%20Syco%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-melodic-house-techno-2019-mixed-by-harel-syco%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/v2y3p0qm4ri5ec2/TeaMix%20-%20Deep%20Vibes%20%28Mixed%20By%20Dudu%20A%27S%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-deep-vibes-mixed-by-dudu-as%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/tmnfm0tqnc1yt18/TeaMix%20-%20Pop%20%26%20Mtv%20Set%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-pop-mtv-set-mixed-by-dj-rooben%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/zi5m01ooz9fbnnm/TeaMix%20-%20Latin%20Open%20Night%202019%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-latin-open-night-2019-mixed-by-dj-rooben%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/kbvjeqt9q5qfy9a/TeaMix%20Dance%20Vol.6%20%28Mixed%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-dance-vol6-mixed%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/fa2mb10lrmoegwt/TeaMix%20Throwback%20Vol.5%20%28Mixed%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-throwback-vol5-mixed%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/2gucxgpa2auezwc/TeaMix%20Latin%20Hits%20Vol.2%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-latin-hits-vol2-mixed-by-dj-rooben%2F" frameborder="0" ></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/uswvo6wb66skm2n/TeaMix%20Dance%20Vol.1.mp3?dl=0"
      target="_blank" rel="noopener noreferrer" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fteamix%2Fteamix-dance-vol1-mixed%2F" frameborder="0" ></iframe>

  </div>

</div>
