<div id="setsMainDivCom" *ngIf="!mobileCheckService.getIfMobile()">

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/bt9cvjeeh9j6fst/TeaMix%20Latin%20Vol.6%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0" target="_blank" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/678561540&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/fkk0kmgexupn3m2/TeaMix%20-%20Opening%20Night%20Set%202019%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0" target="_blank" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/677184684&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/qhudwx1n2cqpr8w/TeaMix%20-%20Melodic%20%26%20Techno%20Open%20Night%20Set%202019%20%28Mixed%20By%20Aviel%29.mp3?dl=0" target="_blank" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/676093529&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/gpmfku766nb6dfn/TeaMix%20-%20Melodic%20House%20%26%20Techno%202019%20%28Mixed%20By%20Harel%20Syco%29.mp3?dl=0" target="_blank" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/672076892&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/v2y3p0qm4ri5ec2/TeaMix%20-%20Deep%20Vibes%20%28Mixed%20By%20Dudu%20A%27S%29.mp3?dl=0" target="_blank" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/669351686&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/tmnfm0tqnc1yt18/TeaMix%20-%20Pop%20%26%20Mtv%20Set%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0" target="_blank" class="soundcloudIconDiv">
      <img class="soundcloudIcon" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixes" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/665576258&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

</div>


<div id="setsMainDivMob" *ngIf="mobileCheckService.getIfMobile()">

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/bt9cvjeeh9j6fst/TeaMix%20Latin%20Vol.6%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0" target="_blank" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/678561540&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/fkk0kmgexupn3m2/TeaMix%20-%20Opening%20Night%20Set%202019%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0" target="_blank" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/677184684&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/qhudwx1n2cqpr8w/TeaMix%20-%20Melodic%20%26%20Techno%20Open%20Night%20Set%202019%20%28Mixed%20By%20Aviel%29.mp3?dl=0" target="_blank" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/676093529&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/gpmfku766nb6dfn/TeaMix%20-%20Melodic%20House%20%26%20Techno%202019%20%28Mixed%20By%20Harel%20Syco%29.mp3?dl=0" target="_blank" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/672076892&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/v2y3p0qm4ri5ec2/TeaMix%20-%20Deep%20Vibes%20%28Mixed%20By%20Dudu%20A%27S%29.mp3?dl=0" target="_blank" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/669351686&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

  <div class="setsSecDiv">
    <a href="https://www.dropbox.com/s/tmnfm0tqnc1yt18/TeaMix%20-%20Pop%20%26%20Mtv%20Set%20%28Mixed%20By%20DJ%20RooBen%29.mp3?dl=0" target="_blank" class="soundcloudIconDivMob">
      <img class="soundcloudIconMob" src="./assets/soundcloudDownloadIconWhite48dp.png">
      <span class="downloadTextHeb" *ngIf="languageService.getLanguage() === 'Hebrew'">הורדה</span>
      <span class="downloadTextEn" *ngIf="languageService.getLanguage() === 'English'">Download</span>
    </a>

    <iframe class="soundcloudMixesMob" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/665576258&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

  </div>

</div>
