<div style="z-index: 0;">
  <router-outlet>
    <app-header></app-header>
    <div id="nav-icon3" style="display: block;" (click)="menuClick()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </router-outlet>




  <br>
  <router-outlet id="main">
      <div id="menu" *ngIf="getMenuFlag()">
          <span class="links" [routerLink]="['/']" routerLinkActive="router-link-active" (click)="menuClick()">Home</span>
          <br>
          <br>
          <span class="links" [routerLink]="['/store']" routerLinkActive="router-link-active" (click)="menuClick()">Store</span>
          <br>
          <br>
          <span class="links" [routerLink]="['/packs']" routerLinkActive="router-link-active" (click)="menuClick()">Music Packs</span>
          <br>
          <br>
          <span class="links" [routerLink]="['/pool']" routerLinkActive="router-link-active" (click)="menuClick()">Music Pool</span>
          <br>
          <br>
          <span class="links" [routerLink]="['/about']" routerLinkActive="router-link-active" (click)="menuClick()">About</span>
          <br>
          <br>
          <span class="links" [routerLink]="['/contact']" routerLinkActive="router-link-active" (click)="menuClick()">Contact</span>
          <br>
          <br>
        </div>
  </router-outlet>

  <div id="scrollUpButtonDiv" (click)="scrollUpNow()" *ngIf="buttonFlag"><img id="scrollUpButtonImg"
      src="./assets/arrowUpWhite48dp2x.png"></div>
</div>
