<div style="z-index: 0;">
  <router-outlet>
    <app-header></app-header>
    <!-- menu clicker button set to off since using menu tab!!, if want to change it to on set ngif to true!! -->
    <div id="nav-icon3" style="display: block;" (click)="menuClick()" *ngIf="this.mobileCheckService.getIfMobile()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div id="langSelectorCom" *ngIf="!this.mobileCheckService.getIfMobile()">
      <span class="langSpan" id="enOptionCom"
        (click)="languageService.setLanguage('English'); mobileCheckService.changeLang()">English</span>
      <span> | </span>
      <span class="langSpan" id="hebOptionCom"
        (click)="languageService.setLanguage('Hebrew'); mobileCheckService.changeLang()">עברית</span>
    </div>
    <div id="langSelectorMob" *ngIf="this.mobileCheckService.getIfMobile()">
      <span class="langSpan" id="enOptionMob"
        (click)="languageService.setLanguage('English'); mobileCheckService.changeLang()">English</span>
      <span id="spaceSpanMob"> | </span>
      <span class="langSpan" id="hebOptionMob"
        (click)="languageService.setLanguage('Hebrew'); mobileCheckService.changeLang()">עברית</span>
    </div>
  </router-outlet>

  <app-menu-tab id="menuTab" *ngIf="!this.mobileCheckService.getIfMobile()"></app-menu-tab>


  <br>
  <router-outlet id="main">
    <div id="menu" *ngIf="getMenuFlag() && (languageService.getLanguage() === 'English')">
      <span class="links" [routerLink]="['/']" routerLinkActive="router-link-active">Home</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/packs/all']" routerLinkActive="router-link-active">Packs</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/sets']" routerLinkActive="router-link-active">DJ Sets</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/about']" routerLinkActive="router-link-active">About</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</span>
      <br>
      <br>
    </div>

    <div id="menu" *ngIf="getMenuFlag() && (languageService.getLanguage() === 'Hebrew')">
      <span class="links" [routerLink]="['/']" routerLinkActive="router-link-active">דף בית</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/packs/all']" routerLinkActive="router-link-active">חבילות</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/sets']" routerLinkActive="router-link-active">סטים</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/about']" routerLinkActive="router-link-active">אודות</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/contact']" routerLinkActive="router-link-active">צור קשר</span>
      <br>
      <br>
    </div>
  </router-outlet>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div id="scrollUpButtonDivCom" (click)="scrollUpNow()" *ngIf="buttonFlag && !this.mobileCheckService.getIfMobile()">
    <img id="scrollUpButtonImgCom" src="./assets/arrowUpWhite48dp2x.png">
  </div>

  <div id="scrollUpButtonDivMobile" (click)="scrollUpNow()" *ngIf="buttonFlag && this.mobileCheckService.getIfMobile()">
    <img id="scrollUpButtonImgMobile" src="./assets/arrowUpWhite48dp2x.png">
  </div>

  <app-icons-tab id="icon"></app-icons-tab>

  <app-footer id="footer"></app-footer>

  <div>
      <span id="copyrightSpan"><a id="copyrightA">&copy; Copyright 2019</a> | <a class="copyrightA" href="https://www.linkedin.com/in/yehoraz-levi-1359ab177" target="_blank">YL Program & Web</a> | <a class="copyrightA" href="https://www.linkedin.com/in/yehoraz-levi-1359ab177" target="_blank">MH Design</a> | <a class="copyrightA" href="https://www.facebook.com/TeaMixx/" target="_blank">TeaMix</a></span>
  </div>
</div>
