<div style="z-index: 0;">
  <router-outlet>
    <app-header></app-header>
    <!-- menu clicker button set to off since using menu tab!!, if want to change it to on set ngif to true!! -->
    <div id="nav-icon3" style="display: block;" (click)="menuClick()" *ngIf="false">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </router-outlet>

  <app-menu-tab id="menuTab"></app-menu-tab>


  <br>
  <router-outlet id="main">
    <div id="menu" *ngIf="getMenuFlag()">
      <span class="links" [routerLink]="['/']" routerLinkActive="router-link-active" (click)="menuClick()">Home</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/store']" routerLinkActive="router-link-active"
        (click)="menuClick()">Store</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/categories']" routerLinkActive="router-link-active" (click)="menuClick()">Music
        Packs</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/pool']" routerLinkActive="router-link-active" (click)="menuClick()">Music
        Pool</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/about']" routerLinkActive="router-link-active"
        (click)="menuClick()">About</span>
      <br>
      <br>
      <span class="links" [routerLink]="['/contact']" routerLinkActive="router-link-active"
        (click)="menuClick()">Contact</span>
      <br>
      <br>
    </div>
  </router-outlet>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div id="scrollUpButtonDiv" (click)="scrollUpNow()" *ngIf="buttonFlag"><img id="scrollUpButtonImg"
      src="./assets/arrowUpWhite48dp2x.png">
  </div>

  <app-icons-tab id="icon"></app-icons-tab>

  <app-footer id="footer"></app-footer>

</div>
